body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    padding: 0px;
}

.container1{
    width: 20%;
    height: 100px;
    margin: auto;
    text-align: center;
}
#userinput{
    width: 100%;
    padding: 1em;
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
    background-color: grey;
    border: none;
    border-radius: 10px;
}
.text{
    text-align: left;
}
h3{
    text-align: left;
}
.dicenum{
    display: flex;
    padding: 0.5em;
}
.dicenum #sub-heading{
    font-size: 1em;
    font-weight: bold;
}
.dicenum #randomdicenum{
    margin: 1em;
}


.btn{
    padding: 1em 3em;
    margin:1em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(53, 170, 216);
}
.btn:hover{
    background-color: rgb(226, 239, 245);
}

.container2{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container2 img{
    width: 100px;
    height: 100px;
}