body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.box{
    width: 250px;
    height: 250px;
    margin: 30px;
    margin: auto;
    margin-bottom: 30px;
}

#box1{
    background-color: bisque;

}
#box2{
    background-color: antiquewhite;
}
#box3{
    background-color: blanchedalmond;
}