body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

h2{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container{
    width: 200px;
    height: 300px;
    border: 3px solid green;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    border-radius: 10px;
}

.container:hover{
    box-shadow: 3px 3px 20px rgb(62, 140, 62);
}
.container button{
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight: bolder;
}
.container button:hover{
    background-color: red;
}

.container button:active{
    box-shadow: 3px 3px 20px white;
}