body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(115, 82, 42);
    text-align: center;
    padding-top: 2em;
}
main{
    border: 2px solid white;
    color: wheat;
}
main .leftbox{
    width: 30%;
    float: left;
    margin-left: 10px;
}
main .middlebox{
    width: 30%;
    float: left;
    margin-left: 10px;
}
main .rightbox{
    width: 30%;
    float: left;
}

footer{
    width: 100%;
    color: wheat;
    height: 50px;
    text-align: center;
    background-color: rgb(115, 82, 42);
    display: block;
    clear: both;
}
