body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.container{
    text-align: center;
    color: bisque;
}

img{
    width: 30%;
    height: 200px;
    border-radius: 10px;
    margin-left: 5px;
}
img:hover{
    box-shadow: 2px 2px 5px rgb(136, 136, 25);
}
p{
    color: beige;
    margin: 20px;
}