body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.card{
    width: 50%;
    height: 400px;
    border: 3px solid white;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
}

img{
    width: 50%;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
}
.name{
    color: crimson;
    font-weight: bolder;
}
.info{
    color: white;
}
button{
    border: 2px solid greenyellow;
    background-color: greenyellow;
    font-weight: bolder;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 5px 5px 10px greenyellow;
}
button:hover{
    background-color: red;
}