body{
    margin: 0px;
}

/* Navbar */
header{
    width: 100%;
    background-color: beige;
}
header .navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li{
    list-style-type: none;
    float: left;
    margin-left: 7vw;
}


/* About Section */
.about{
    width: 100%;
    display: flex;
    justify-content: center;

}
.aboutinfo{
    width: 40%;
    height: 50vh;
    margin: 0.7em;
    border-radius: 30px;
}
#abouttext{
    background-color: rgb(213, 213, 141);
    overflow:auto;
}
#abouttext p{
    padding: 0.5em;
}
h2{
    text-align: center;
    color:black;
    font-size: 2em;
    font-weight: bolder;
}

#aboutimg img{
   height: 100%;
   background-position: center;
   background-size: cover;
}


/* Services */
.services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .servicesoption{
    width: 30%;
    height: 50vh;
    background-color: wheat;
    margin: 1.5em;
    border-radius: 20px;
}

/* Online free courses */
.freecourse{
    display: flex;
    justify-content: center;
    align-items: center;
}

.freecourse .freecard{
    width: 30%;
    height: 50vh;
    background-color: aquamarine;
    border-radius: 20px;
    margin: 1.5em;
}

/* Online Paid Courses */
.paidcourse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paidcourse .paidcard{
    width: 30%;
    height: 50vh;
    border-radius: 20px;
    margin: 1.5em;
    background-color: brown;
}

/* Contact */
.form{
    width: 60%;
    height: 50vh;
    border-radius: 20px;
    margin: auto;
    background-color: black;
    color: white;
}

.form input{
    width: 90%;
    margin-left: 2em;
}
.form p{
    margin-right: 0px;
}
