body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.box1{
    width: 100%;
    height: 50px;
    background-color: bisque;
    position:sticky;
}

p{
    color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

li{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    float: left;
    margin: 0.5em;
    list-style: none; 
}