body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

h2{
    color: rgb(87, 147, 149);
    text-align: center;
}
h2:hover{
    color: rgb(122, 210, 213);
}

.navbar{
    background-color: antiquewhite;
    height: 80px;
    overflow: hidden;
}
.Ulist{
    list-style-type: none;
    font-style: italic;
    font-weight: bolder;
}

.Ulist li a{
    text-decoration: none;
    color: rgb(91, 66, 36);
    float: left;
    margin-left: 4em;
    margin-top: 1em;

}
.Ulist li a:hover{
    color: rgb(158, 118, 69);
}

main{
    margin: 20px;
    transition: 0.6s ease-in;
}
main:hover{
    border: 2px solid gray;
    box-shadow: 4px 4px 10px white;
    
   
}

h4{
    color: rgb(226, 74, 74);
    text-align: center;
}
p{
    color: aqua;
    padding: 10px;
}