@font-face{
    src: url(GoogleFont/Condiment-Regular.ttf);
    font-family: Condiment
}
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

h2{
    font-family: Condiment;
    color: beige;
}

p{
    font-family: Condiment;
    color: bisque;
}