body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    box-sizing: border-box;
}
.box{
    width: 100%;
    height: 400px;
    border: 3px solid white;
}
.inbox{
    float: left;
    width: 50%;
    height: 100%;
}
.box2{
    width: 100%;
    height: 300px;
}

#box1{
    
    background-color: chocolate;
}
h3{
    text-align: center;
}

#box2{
    background-color: blanchedalmond;
}


#box3{
    background-color: cadetblue;
}