body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

.container{
    margin-left: 20px;
    margin-left: 20px;
}
.container h2{
    text-align: center;
    color: aqua;
    font-weight: bold;
}

.pagination{
    margin-top: 3em;
    text-align: center;
}
.pagination a{
    margin-left: 2.5em;
    text-decoration: none;
    font-weight: bolder;
    color: burlywood;
}

.pagination a.active{
    background-color: rgb(53, 130, 53);
    padding: 20px;
    border-radius: 10px;
}

.pagination a:hover:not(a.active){
    padding: 20px;
    border-radius: 10px;
    background-color: grey;
    transition: 0.1s ease-in;
}