body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.board{
    color: white;
    text-align: center;
}

.board h2{
    width: 100%;
    font-size: 3em;
    color: grey;
}
.board h3{
    font-size: 3em;

}

.btns{
    text-align: center;
}
.btn{
    font-size: 1.5em;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: rgb(32, 114, 32);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(53, 154, 53);
}
#resetid{
    background-color: rgb(113, 18, 18);
}
#resetid:hover{
    background-color: red;
}