body{
    margin: 0px;
    padding:0px;
    background-color: black;

}
h2{
    color: white;
}
img{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 20px;
    color: antiquewhite;
}
#img2{
    float: right;
    margin-left: 20px;
}