body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.box{
    width: 100%;
    height: 300px;
    /* border: 3px solid white; */
    box-sizing: border-box;
    overflow: hidden;

}
.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
}
.inbox{
    width: 100%;
    height: 30%;
    margin: 5px;
    border: 2px solid white;
    border-radius:10px;

}
#box1{
    background-color: aquamarine;
}
#box2{
    background-color:burlywood;
}
#box3{
    background-color: chartreuse;
    display: inline-block;
}
p{
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}